.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 80px; /* Space for fixed navbar */
    color: #e4e4e4;
  }
  
  .main-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px; /* Space below the header */
    font-weight: 600;
    text-align: center;
  }
  
  .paragraphs {
    max-width: 600px; /* Limit text width for better readability */
    text-align: center;
    line-height: 1.6;
    font-size: 1rem;
    margin: 0 20px; /* Add some padding for smaller screens */
  }
  
  .paragraphs p {
    margin-bottom: 20px; /* Space between paragraphs */
  }
  