/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Sleek modern font */
  background-color: #1e1e1e; /* Dark gray background */
  color: #e4e4e4; /* Light gray text */
}

.App {
  text-align: center;
}
